@model IDGS904_tema1.Models.Distancia

@{
    ViewBag.Title = "ResultadoFinal";
}

<h2>Resultado Final</h2>

<div class="row col-lg-6">
    <h1>El resultado es: @Html.Raw(@Model.TipoTriangulo.ToString())</h1>
</div>
